h1 {
    color: red;
    opacity: .50;
    text-align: center;

}

.container-flex {
    display: flex;
    flex-direction: row;
}


.result {
    text-align:center;

}

.button {
    width: 100%;
    box-sizing: border-box;
}
